@-moz-document domain(google.co.uk) {
  /*logo*/
  #logocont a img {
    display: none !important;
  }
  #logocont a {
    width: 80px !important;
    height: 80px !important;
    background-image: url('/home/michael/Pictures/pointing-monkey.png') !important;
    background-repeat: no-repeat !important;
    background-size: 80px 80px !important;
    transform: rotate(11deg) !important;
    display: block !important;
  }
  
  #logocont {
    height: 80px !important;
    overflow: hidden !important;
    padding-top: 13px !important;
    padding-left: 43px !important;
    position: relative;
  }
  #sbfblt {
    display: none !important;
  }
  #resultStats::after {
    position: fixed;
    content: "People often say that motivation doesn't last. Well, neither does bathing - that's why we recommend it daily.";
    top: 110px;
    left: 30px;
    font-family: 'Flamenco';
    font-size: 22px;
    width: 100px;
    display: block;
    white-space: normal;
    line-height: 1.2;
    color: #121217;
  }
  /*search form*/
  #gb {
    display: none !important;
  }
  div.sfbg {
    display: none !important;
  }
  form#tsf {
    position: fixed !important;
    top: 8px !important;
  }
  .tsf-p {
    padding-left: 164px !important;
  }
  #sfdiv {
    max-width: 540px !important;
  }
  /*other search links*/
  
  #hdtb-msb {
    position: fixed !important;
    float: none !important;
    top: 0 !important;
    /*background-color: #222 !important;*/
    left: 0 !important;
    right: 0 !important;
    display: flex !important;
    justify-content: flex-end !important;
    padding-right: 20px !important;
    padding-top: 13px !important;
    /*padding-top: 10px !important;*/
    /*box-shadow: 0 0 20px rgba(255,255,255,1) !important;*/
    z-index: 100 !important;
  }
  #hdtb-msb > div:last-of-type {
    display: none !important;
  }
  #ab_ctls {
    display: none !important;
  }
  #hdtb {
    background-color: transparent !important;
    border-bottom-color: transparent !important;
  }
  #hdtbSum {
    background-color: transparent !important;
  }
  #hdtb .hdtb-mitem a {
    color: #232329 !important;
    /*font-family: 'Rajdhani' !important;*/
  }
  #hdtb .hdtb-mitem a:hover {
    color: #555 !important;
  }
  #hdtb-msb .hdtb-mitem.hdtb-msel {
    border-bottom: 3px solid transparent !important;
    color: #fff !important;
    /*background-color: rgb(12, 76, 138) !important;*/
    background-color: #184364 !important;
    padding: 8px 16px 6px !important;
    border-radius: 4px !important;
  }
  #hdtb-msb .hdtb-mitem.hdtb-imb {
    padding-top: 8px !important;
    border-bottom: 3px solid transparent !important;
  }

  #hdtb-msb-vis .hdtb-mitem:not(.hdtb-msel) {
    max-width: 0px !important;
    overflow: hidden !important;
    padding-bottom: 7px !important;
    vertical-align: middle !important;
  }
  #hdtb-msb-vis:hover .hdtb-mitem:not(.hdtb-msel) {
    -webkit-transition: max-width 0.4s ease;
    -o-transition: max-width 0.4s ease;
    transition: max-width 0.4s ease;
    max-width: 100px !important;
  }
  #hdtb-msb .hdtb-mitem.hdtb-imb:first-child {
    margin-left: 0 !important;
  }
  #hdtb-msb > div:first-child {
    position: relative;
  }
  #hdtb-msb > div:first-child::before {
    position: absolute;
    top: -20px;
    left: -20px;
    height: 65px;
    right: -20px;
    background: #fff;
    content: '';
    z-index: -1;
    border-bottom-left-radius: 3px;
    opacity: 0;
    /*width: 0;*/
  }
  #hdtb-msb > div:first-child:hover::before {
    opacity: 1;
    -webkit-transition: opacity 1.5s ease 0.5s;
    -o-transition: opacity 1.5s ease 0.5s;
    transition: opacity 1.5s ease 0.5s;
  }


  /*misc*/
  #sfcnt {
    height: 0;
  }
  #resultStats {
    position: absolute !important;
    /*left: 0 !important;*/
    top: -4px !important;
  }
  #resultStats nobr {
    display: none !important;
  }
  /*in-search bar icons*/
  #gs_st0, .sbico-c {
    padding-top: 2px !important;
  }
  .sfbgx {
    background-color: transparent !important;
    border-bottom-color: transparent !important;
  }
}

