[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Dropbox
Comment=dbus-launch dropbox start -i
Exec=/bin/bash -c "sleep 2 && dropbox stop && env DBUS_SESSION_BUS_ADDRESS="" dropbox start -i"
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

